@media (max-width: 800px) { 
  .ads {
    width:100%!important;} 
  
  .forabg:nth-child(0n+1) {
    margin-top:0px!important;
    margin-left:0px!important;}

.forabg:nth-child(0n+1) ul.forums {
    margin-top:0px!important;}}

@media (max-width: 1285px) {
    #wrap, div#page-header {
    margin:auto 80px!important;
    width:auto!important;}
    
  .headerbar:before {
    display:none;}
    
 .ads {
    margin-top:0px!important;}
    
.forabg:nth-child(0n+1) {
    margin-top:-568px!important;}
    
  .forabg:nth-child(0n+1) ul.forums {
    max-height:545px!important;}
    
  .forabg:nth-child(0n+1) .row {
    height:265px!important;
    min-width:48%!important;}

    .forabg:nth-child(0n+1) .sub {
        margin-top:400px!important;
        gap:6px!important;}
}
