.ads, #header #mNotificationBtn ~ #mSearchBtn, .men, .box.introduction, .forum-section-wrap:not(:last-child):after {
  display:none!important;}

.forum-content h3 {
  color:var(--f1);}

.forum-section-wrap {
  margin-bottom:var(--p1);}

.post-section {
 background:var(--b1)!important;
  padding:var(--p1)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;}

.forum-avatar {
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  width:50px!important;
  height:50px!important;}

.forum-section:before {
  width:45px!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;
  border:0px!important;
  background:var(--b2)!important;}

.forum h2 span {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: lowercase;}

.forum-content  {
  margin-left:60px!important;}

.forum-content a {
  text-transform:inherit!important;}

.forum-description {
  font-size:12px!important;
  text-align:justify;
  text-transform:inherit!important;
  color:var(--f1)!important;} 

.forum-section, .preview-section {
  box-shadow:var(--sh2), var(--sh)!important;
  background:var(--b1)!important;
  padding:var(--p1)!important;
  color:var(--f1)!important;
  border-radius:var(--p1)!important;}

.forum-header {
  border-radius:var(--p1)!important;}

.forum-header-content {
  background-size:cover!important;
  background:var(--header);}

.forum-header-content img, .forum-header #forum-description {
  display:none!important;}

.cp-sidebar {
  background:var(--b1)!important;
  padding:var(--p1);
  border-radius:var(--p1)!important;}

.cp-sidebar ul {
  flex-wrap:wrap!important;}

.cp-sidebar ul li {
  flex:auto;}

#mwrap {
  color:var(--f1);
  font-family:var(--ff1)!important;}

.forum h2, .forum-grid h2 {
  box-shadow:var(--sh2), var(--sh)!important;
  color:var(--f1)!important;
   background:var(--b1)!important;
  padding:var(--p1)!important;
  border-radius:var(--p1)!important;}

#header {
  line-height:inherit!important;
  box-shadow:var(--sh2), var(--sh);
  color:var(--f1)!important;
  padding:var(--p1)!important;
  height:auto!important;
  display:flex;
  border-radius:var(--p1)!important;
  background:var(--b2)!important;}
