.ads, #header #mNotificationBtn ~ #mSearchBtn, .men, .box.introduction, .forum-section-wrap:not(:last-child):after {
  display:none!important;}

.post-content {
  text-align:justify!important;}

#tab-bar {
  background:var(--b2)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1);}

#tab-bar i {
  color:var(--f1)!important;}

#header #mToggleArrow:focus-visible, .shownBar:hover, .hiddenBar:hover  {
  background:var(--b1)!important;}

.forum-avatar img.loaded {
    width: 80px;
  height: 130px;}

.whoisonline-toggle {
  color:var(--f1)!important;
  padding:var(--p2)!important;
  background:var(--b1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;}

.box, .sceditor-container, div.sceditor-toolbar {
  border:0px!important;
  background:var(--b1)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1)!important;}

div#custom-editor-wrapper {
  gap:0px!important;}

div#custom-placeholder {
  margin:15px!important;}

.sceditor-container textarea {
  color:var(--f1)!important;
  margin:var(--p1) 0px 0px 0px!important;
  width:100%;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1)!important;
  background:var(--b1)!important;}

.rep-button, .rep-button:focus, .rep-button:active, .rep-button i {
  color:var(--f1)!important;}

.btn-floating.btn-scrolled, .btn-floating {
  transition:0.5s!important;
  align-items: center;
  justify-content: center;
  display:flex;
  bottom:130px!important;
  left:20px!important;
  right:auto!important;
  border:0px!important;
  background:var(--b2)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;}



input[type="submit"] {
  margin-left:calc(50% - 40px);
  padding:var(--p2)!important;}

textarea.input-subtle {
  min-height:170px!important;}

.input-subtle {
  background:var(--b1)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1)!important;}

.box-subtle {
  border:0px!important;
  background:var(--b2)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1)!important;}

.post-buttons {
  margin:15px 0px 0px 0px!important;}

.rep-button-ellipsis {
  margin-top:-4px;}

.post-buttons, .btn-rep-topic {
  border:0px!important;
  color:var(--f1)!important;
  background:var(--b2)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p2)!important;}

.topic h2, .topic h3, .topic h1 {
  font-weight: 700;
  font-size:1.5em!important;
  color:var(--f1)!important;
  letter-spacing: 1.5px;
  text-transform: lowercase;
  text-align: center;}

.topic h1 {
  font-size:1.8em!important;}

.post-section {
  border:0px!important;}

#to-top {
  align-items: center;
  justify-content: center;
  display:flex;
  bottom:125px!important;
  background:var(--b2)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;}

.mini-chatbox, .box-widget-bottom {
  border:0px!important;
  color:var(--f1)!important;
  padding:var(--p1)!important;
  background:var(--b1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;}

#chatbox_members, #addthis-toolbar {
  display:none!important;}

#chatbox {
  margin-right:15px!important;}

.module {
  background:none!important;
  border:0px!important;}

td {
  padding:var(--p3)!important;
  background:var(--b1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;}

.module-table tr:nth-child(odd) td {
  background:var(--b1b)!important;}

.forum-statistics {
  color:var(--f1)!important;
  right:0px!important;
  top:25px!important;
  padding:var(--p2)!important;
  background:var(--b1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  border-radius:var(--p1)!important;}

.forum-statistics i {
  display:inline-block;
  font-size:14px;
  margin-right:5px;
  margin-top:-3px;}

.forum-lastpost-wrap i {
  font-size:25px;
  margin-right:5px;
  color:var(--f1);}

.forum-description > div {
  opacity:0.7;
  color:var(--f1)!important;}

.forum-description > div:before {
  content:'';
  width:80px;
  height:30px;
  float:right;}

.dol {
  display:flex;
  justify-content:center;
  align-items:center;
  gap:var(--p1);}

.forum-lastpost-wrap {
  flex:auto;
  margin-top:var(--p1)!important;
  padding:var(--p1)!important;}

.forum-icon {
  display:none;}

.forum-lastpost-wrap {
  border:0px!important;
  background:var(--b1)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  padding:var(--p1);}

.forum-lastpost-time {
  text-transform: lowercase;}

.forum-icon {
  position:absolute!important;
  bottom:30px;}

.forum-content h3, .module .h3 {
  color:var(--f1);}

.forum-section-wrap {
  margin-top:var(--p1);}

.post-section {
 background:var(--b1)!important;
  padding:var(--p1)!important;
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;}

.forum-avatar {
  margin-top:var(--p1);
  border-radius:var(--p1)!important;
  box-shadow:var(--sh2), var(--sh)!important;
  width:80px!important;
  height:69px!important;}

.forum-section:before {
  display:none!important;}

.forum h2 span {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: lowercase;}

.forum-content  {
  margin-left:0px!important;}

.forum-content a {
  text-transform:inherit!important;}

.forum-description {
  font-size:12px!important;
  text-align:justify;
  text-transform:inherit!important;
  color:var(--f1)!important;} 

.forum-section, .preview-section {
  box-shadow:var(--sh2), var(--sh)!important;
  background:var(--b1)!important;
  padding:var(--p1)!important;
  color:var(--f1)!important;
  border-radius:var(--p1)!important;}

.forum-header {
  border-radius:var(--p1)!important;}

.forum-header-content {
  background-size:cover!important;
  background:var(--header);}

.forum-header-content img, .forum-header #forum-description {
  display:none!important;}

.cp-sidebar {
  background:var(--b1)!important;
  padding:var(--p1);
  border-radius:var(--p1)!important;}

.cp-sidebar ul {
  flex-wrap:wrap!important;}

.cp-sidebar ul li {
  flex:auto;}

#mwrap {
  color:var(--f1);
  font-family:var(--ff1)!important;}

.forum h2, .forum-grid h2, .module .h3 {
  box-shadow:var(--sh2), var(--sh)!important;
  color:var(--f1)!important;
   background:var(--b1)!important;
  padding:var(--p1)!important;
  border-radius:var(--p1)!important;}

#header {
  line-height:inherit!important;
  box-shadow:var(--sh2), var(--sh);
  color:var(--f1)!important;
  padding:var(--p1)!important;
  height:auto!important;
  display:flex;
  border-radius:var(--p1)!important;
  background:var(--b2)!important;}
