.ads, #header #mNotificationBtn ~ #mSearchBtn, .men, .box.introduction {
  display:none!important;}

.forum-header {
  border-radius:var(--p1)!important;}

.forum-header-content {
  background-size:cover!important;
  background:var(--header);}

.forum-header-content img, .forum-header #forum-description {
  display:none!important;}

.cp-sidebar {
  background:var(--b1)!important;
  padding:var(--p1);
  border-radius:var(--p1)!important;}

.cp-sidebar ul {
  flex-wrap:wrap!important;}

.cp-sidebar ul li {
  flex:auto;}

#mwrap {
  color:var(--f1);
  font-family:var(--ff1)!important;}

.forum h2, .forum-grid h2 {
  box-shadow:var(--sh2), var(--sh)!important;
  color:var(--f1)!important;
   background:var(--b1)!important;
  padding:var(--p1)!important;
  border-radius:var(--p1)!important;}

#header {
  line-height:inherit!important;
  box-shadow:var(--sh2), var(--sh);
  color:var(--f1)!important;
  padding:var(--p1)!important;
  height:auto!important;
  display:flex;
  border-radius:var(--p1)!important;
  background:var(--b2)!important;}
