@media (max-width: 1285px) {
    #wrap {
    margin:auto 95px!important;
    width:auto!important;}

     .forabg .row {
    background-position:center!important;}

     .proba {
        left:-77.5px!important;}

    .proba2 {
        left:auto!important;
        right:100px!important;}

    .menu-container {
        right:65px!important;}
}

@media (max-width: 980px) { 


}
