/*REGISTER*/
.reg #wrap {
  padding:var(--p1);
  border-radius:var(--p1);
  background:var(--b2);
  box-shadow: var(--sh2), var(--sh);}

.reg #cp-main .panel+h1 {
  font-size:0px;
  margin-top:-30px!important;
  margin-bottom:15px!important;}

.reg #cp-main .panel+h1:after {
  font-weight:400;
  display:block;
  content:"Do czasu założenia tematów należy pozostawić bazowe załączniki";
  font-size:11px;
  width:100%;}

.reg #cp-main .panel+h1:before {
  font-size:20px;
  content:'linki';}

.reg #cp-main .panel:first-of-type fieldset dl:first-of-type {
  display:none;}

.reg #cp-main .panel:first-of-type fieldset dl:last-of-type dt {
  display:none;}

.reg #cp-main .panel:first-of-type fieldset dl:last-of-type dd {
  padding:var(--p1);}

.reg fieldset dd {
  flex:2;
  padding:0px;
  border-radius:var(--p1);
  background:var(--b1);
  box-shadow: var(--sh2), var(--sh);
  margin:0px!important;}

.reg input[type="text"], .reg .inputbox {
  font-family:var(--ff1)!important;
  outline:none!important;
  background:none!important;
  border:0px;
  color:var(--f1)!important;
  padding:var(--p1);}

.reg fieldset dt img {
  display:none;}

.reg fieldset dt {
  padding:var(--p1);
  border-radius:var(--p1);
  background:var(--b1);
  box-shadow: var(--sh2), var(--sh);
  flex:1;
  text-align:center;}

.reg dt label {
  font-family:var(--ff1);
  text-transform: lowercase;
  color:var(--f1)!important;
  margin:0px;}

.reg fieldset dl {
  padding:0px;
  margin-bottom:15px;
  margin-right:-15px!important;
  display:flex;
  gap:Var(--p1);}

.reg #cp-main h1 {
  color:var(--f1);
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-weight:700;
  width:100%;
  letter-spacing:1.5px;}

.reg #cp-main .panel p {
  font-size:11px;
  color:var(--f1);
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-weight:500;
  width:100%;
  letter-spacing:1.5px;}

.reg #cp-main .panel {
  padding:0px;}

/*HARAETTER*/
.haraet {
  position:relative;
  width:90%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:5%;}

.avatar-h{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:70px;}

.haraet nazwa{
  font-family:var(--ff1);
  font-size:18px;
  margin-left:2%;
  color:var(--f1);}

.haraet naz, .h-k naz {
  font-family:var(--ff1);
  color:var(--f3);}

 .h-k naz {
   font-size:13px!important;}

.haraett{
  margin-top:35px;
  position:relative;}

.ikonyh{
  position:absolute;
  top:-40px;
  left:15px;
  display:flex;
  gap:15px;}

.haraet-1:before{
  font-family:var(--ff2);
  content: "\eabe";}

.haraet-2:before{
  font-family:var(--ff2);
  content: "\eaef";}

.haraet-3:before{
  font-family:var(--ff2);
  content: "\fbbf";}

.haraet-1:before, .haraet-2:before, .haraet-3:before{
  font-size:25px!important;}

.haraett{
  background:var(--b4);
         padding:15px;
         border:var(--o1);
         box-shadow:var(--sh);}

.haraet:before{
  content: "\ea95";
  font-family:var(--ff2);
  position:absolute;
  top:35px;
  right:30px;
  font-size:20px;}

.h-k {
  position:relative;
  width:70%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:15%;}

.avatar-k{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:50px;}

.h-k p{
  font-size:13px!important;
  text-align:justify;
  font-family:'prompt';
  background:var(--b4);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin:0px;}


/*SASA KOMENTARZE*/
.kom {
  padding:15px;
  position:relative;
  margin-left:15%;
  max-width:70%;}

.k-nick {
  opacity:0.4;
  position:absolute;
  top:65px;
  left:140px;
  padding:5px 15px;
  font-size:11.5px;
  font-weight:700;
  letter-spacing:4px!important;
  text-transform: lowercase;
  font-family:var(--ff1);}

.kom .tresc {
  background: var(--b1);
  border-radius:var(--p1);
  box-shadow: var(--sh2), var(--sh);
  padding:35px 15px 15px 15px;}

.kom-av img {
  width:110px;
  height:110px;
  border-radius:var(--p1);
  margin-top:30px;
  margin-left:15px;
  float:left;
  margin-right:15px;
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
  /*SASAYAKU*/
.sasayaki {
  padding:0px;
  border-radius:var(--p1);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
.sasayaki .t1 {
  box-shadow:none!important;
  margin:0px;}
  
.s-nick {
  margin-top:-40px!important;
  box-shadow:none!important;
  border:0px!important;
  background:none!important;}
  
.news {
  max-height:433px;
  overflow:auto;
  min-width:30%;
  flex:1;
  border-radius:var(--p1);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);
  padding:var(--p1);}
  
.news > div{
  min-width:100%;
  font-size:9.5px;
  opacity:0.5;
  text-align:right;}
  
.s-1 {
  width:100%;
  flex-wrap:wrap;
  gap:15px 10px;
  display:flex;}
  
.av-s {
  flex:1;
  margin-right:10px;
  min-width:204px!important;
  max-width:204px!important;
  text-align:center;
  font-size:10px;}
  
 .av-s img{
  border-radius:15px;
  box-shadow:var(--sh);
  border:var(--o1);
  padding:2px;}
  
.av-s div:nth-child(0n+4) {
  font-size:11px!important;
  letter-spacing:4px!important;
  text-transform: uppercase;
  font-family: var(--ff1);}
 
.av-s > div {
  margin-top:-5px;
  padding:var(--p2);
  background: var(--b1);
  border-radius:var(--p1);
  box-shadow: var(--sh2), var(--sh);}
  
.dane {
  border-radius:var(--p1);
  padding:var(--p3);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
.jap-s {
  padding:15px;
  width:100%;
  font-size:35px;
  text-align:center;}
  
.t-s {
  margin-top:-40px;
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-size:20px;
  font-weight:700;
  letter-spacing:3px;
  min-width:100%;
  text-align:center;}
  
.zakladki {
  display:flex;}
  
.zakladki span {
  float:right;}
  
.zakladki .sas {
  position:absolute;
  box-shadow:none!important;
  border:0px!important;
  background:none!important;
  right:15px;
  letter-spacing:5px;
  color:#7e7e7e!important;} 
  
.sas {
  float:right;}
  
.zakladki div {
  border-radius:15px;
  background: var(--b3);
  border: var(--o1);
  box-shadow: var(--sh);
  padding:15px;
  color:var(--f1);
  flex:1;
  max-width:170px;
  margin-top:-1px;}
  
.zakladki div span {
  line-height:15px!important;}
  
.zakladki div:nth-child(0n+2){
  background:var(--b1);
  color:#7e7e7e;
  padding-bottom:20px;}  
  
.sasayaki-wpisz {
  width:100%;
  border-radius:var(--p1);
  background: var(--b2a);
  box-shadow: var(--sh2), var(--sh);
  padding:var(--p1);
  margin-top:-10px;
  position:relative;}
 
.sasayaki-wpisz i {
  margin-right:15px;
  font-size:15px;
  max-width:15px;}
