/*KATEGORIE*/
.forabg {
  position:relative;
  display:flex;}

.forabg .header {
  writing-mode: vertical-rl;
  transform: scale(-1);
  width:10px;
  margin-left:-20px;
  position:sticky;
  top:15px;}

ul.forums {
  overflow:inherit!important;
  width:calc(100% - 50px);
  margin-left:50px;
  gap:15px;
  display:flex;
  flex-wrap:wrap;}

/*OPIS*/
.wo, .wo * {
  transition:0.5s!important;
  box-sizing:border-box;
  scrollbar-width: thin;}

.wo > b {
  font-family:var(--ff2);
  z-index:997;
  position:absolute;
  top:10px;
  right:10px;}

.wo-st {
  margin-top:-5px;
  font-size:10px;
  margin-bottom:15px;
  width:100%;
  text-align:center;
  display:block;
  opacity:0.5;}

.wo {
  display:inline-block;
  cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur613.cur), progress !important;
  margin: 0;}

.wo p {
  display:none;}

.wo > div {
  cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur610.cur), progress !important;
  position: absolute;
  z-index:999;
  top:-30%;
  right:-45px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;}

.wo > input:checked ~ div {
  opacity: 1;
  pointer-events: auto;}

.wo > div > div {
  min-width:250px;
  max-width:350px;}

.wo-t {
  font-size:11px;
  color:var(--f1);
  text-align:justify;
  padding:var(--p1);
  border-radius:var(--p1);
  background:var(--b4)!important;
  background-position:bottom center!important;
  background-repeat:no-repeat!important;
  box-shadow:var(--sh);
  border:var(--o1);}

.wo-t1 {
  font-weight:bold;
  text-align:center;
  width:100%;
  font-size:15px;
  letter-spacing:4px;
  font-family:var(--ff1);
  text-transform: uppercase;}

.wo input {
  display: none;}

/*SUBFORA*/
.sub {
  width:calc(100% - 30px);
  margin-left:15px;
  gap:10px 5px;
  display:flex;
  flex-wrap:wrap;
  margin:var(--p1);
  text-align:Center;
  font-size:0px;
  position:absolute;
  justify-content: center;
  align-items: center;
  top:200%;
  transition:var(--time);}

.sub img {
  display:none;}

.sub a:nth-child(odd) {
  display:none;}

.sub a {
  color:var(--f4)!important;
  letter-spacing:1px!important;
  font-size:9.2px!important;
  min-width:auto;
  padding:var(--p2);
  background:var(--b4);
  border-radius:var(--p1);
  border:var(--o1);
  box-shadow:var(--sh);}
