@media (max-width: 1295px) {
    #wrap, div#page-header {
    margin:auto 95px!important;
    width:auto!important;}

    .forabg:nth-child(0n+5) ul.forums {
  display:fleX!important;
  flex-wrap:wrap;}

.forabg:nth-child(0n+5) .row:nth-child(1) .hierarchy {
  margin:auto!important;}

    .proba {
        left:-172.5px!important;}

    .bestuser {
        display:none!important;}
    
  .headerbar:before {
    display:none;}

    .lastConnected {
        max-width:100%!important;}

     .forabg .row {
    background-position:center!important;}

    .forabg:nth-child(0n+6) {
        margin-right:auto!important;}

    .forabg:nth-child(0n+1) .lastpost-infos {
        display:block!important;}

    .proba2 {
        left:auto!important;
        right:100px!important;}
    
 .ads {
    margin-top:0px!important;}

    .forabg:nth-child(0n+2) .row, .forabg:nth-child(0n+3) .row, .forabg:nth-child(0n+4) .row, .forabg:nth-child(0n+5) .row {
        max-height:185px!important;
  min-width:100%!important;}
    
.forabg:nth-child(0n+1) {
    margin-top:-568px!important;}
    
  .forabg:nth-child(0n+1) ul.forums {
    max-height:545px;}
    
  .forabg:nth-child(0n+1) .row {
    height:265px!important;
    min-width:48%!important;}

    .forabg:nth-child(0n+1) .sub {
        margin-top:400px!important;
        gap:6px!important;}

   .forabg:nth-child(0n+1) .row:hover .sub {
        margin-top:35px!important;}

}

@media (max-width: 980px) { 
  .ads {
    width:100%!important;} 

     .forabg:nth-child(0n+2) .row, .forabg:nth-child(0n+3) .row {
  min-width:100%!important;}

    .forabg:nth-child(0n+1) .lastpost-infos {
        display:block!important;}
  
  .forabg:nth-child(0n+1) {
    margin-top:0px!important;
    margin-left:0px!important;}

        .forabg:nth-child(0n+1) .row:hover .sub {
        margin-top:35px!important;}

.forabg:nth-child(0n+1) ul.forums {
    margin-top:0px!important;}}
