/*HARAETTER*/
.haraet {
  position:relative;
  width:90%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:5%;}

.avatar-h{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:70px;}

.haraet nazwa{
  font-family:var(--ff1);
  font-size:18px;
  margin-left:2%;
  color:var(--f1);}

.haraet naz, .h-k naz{
  font-family:var(--ff1);
  color:var(--f3);}

.haraett{
  margin-top:35px;
  position:relative;}

.ikonyh{
  position:absolute;
  top:-40px;
  left:15px;
  display:flex;
  gap:15px;}

.haraet-1:before{
  font-family:var(--ff2);
  content: "\eabe";}

.haraet-2:before{
  font-family:var(--ff2);
  content: "\eaef";}

.haraet-3:before{
  font-family:var(--ff2);
  content: "\fbbf";}

.haraet-1:before, .haraet-2:before, .haraet-3:before{
  font-size:25px!important;}

.haraett{
  background:var(--b4);
         padding:15px;
         border:var(--o1);
         box-shadow:var(--sh);}

.haraet:before{
  content: "\ea95";
  font-family:var(--ff2);
  position:absolute;
  top:35px;
  right:30px;
  font-size:20px;}

.h-k {
  position:relative;
  width:70%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:15%;}

.avatar-k{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:50px;}

.h-k p{
  font-size:13px;
  text-align:justify;
  font-family:'prompt';
  background:var(--b4);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin:0px;}

/*MOCE YUREI*/
.nodbl {
  transition:0.5s;
  opacity:0.3;}

.nodbl:hover {
  opacity:1;}

.moce {
  padding:10px;
  border:var(--o1);
  background:var(--b3);
  box-shadow:var(--sh);}

.moce > div > div:nth-child(3n) {
  display:block!important;
  max-height:143px;
  overflow:auto;
  flex:2!important;
  font-size:11px;
  min-width:25%!important;
  background:var(--b3);}

.moce > div > div {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:auto;
  font-size:11px;
  flex:1;
  min-width:10%;
  text-align:center;
  padding:10px;
  border:var(--o1);
  background:var(--b1);
  box-shadow:var(--sh);}

.moce > div > div:nth-child(3n-1) {
  align-items: baseline!important;
  max-height:143px;
  font-size:11px;
  flex:3;
  overflow:auto;
  min-width:60%;
  text-align:justify;
  padding:10px;
  border:var(--o1);
  background:var(--b3);
  box-shadow:var(--sh);}

.moce p {
  margin:0px 0px 20px 0px!important;
  min-width:100%!important;
  text-transform: uppercase;
  font-family:'roboto condensed';
  font-size:12px!important;
  text-align:center;
  padding:10px;
  border:var(--o1);
  background:var(--b1);
  box-shadow:var(--sh);}

.moce > div {
  margin-top:-20px;
  margin-bottom:-20px;
  display:flex;
  flex-wrap:wrap;}

.moce p:last-child {
  font-size:11px;
  margin:0px!important;}

/*GŁÓWNA - Sasayaku, Raimei*/
.forabg:nth-child(0n+3) .row:nth-child(0n+5), .forabg:nth-child(0n+3) .row:nth-child(0n+6) {
  padding-bottom:41px!important;}

/*TEMATY*/
.t7 .obr {
  width:200px;
  transition:0.5s;
  overflow:hidden;
  opacity:0.5;
  border-radius:7px!important;
  filter:grayscale(100%);
  margin-top:0px!important;}

.t7 .obr:hover {
  opacity:0.8;
  filter:grayscale(40%);
  width:450px;}

.t7 .t3 {
  width:100%;
  margin-bottom:10px!important;}

.t7 br {
  display:none;}

.t7 {
  display:flex;
  flex-wrap:wrap;}

.t-m {
  position:relative;
  font-size:11px;
  padding:10px 15px;
  text-align:center;
  color:var(--f1);
  font-family:var(--ff1);
  letter-spacing:2px;
  text-transform: uppercase;
  border:var(--o1);
  box-shadow:var(--sh);
  background:var(--b4);}

i.ti.ti-briefcase {
    position: absolute;
    left: 15px;
    margin-top: -7px;
    font-size: 26px;}


