/*KARTA ROZWOJU*/ 
#relacje h2 {
  font-size:25px!important;
  text-transform:inherit!important;}

.re {
  margin-bottom:var(--p1);}

.re:last-of-type {
  margin-bottom:0px;}

.status {
  margin-top:var(--p1);
  display:flex;
  gap:var(--p1);}

#relacje .ti {
  height:45px;
  padding:var(--p1);
  display:flex;
  align-items: center;
  justify-content: center;
  background:var(--b1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  font-size:30px;
  z-index:99;}

#relacje .status-1:after, #relacje .status-2:after, #relacje .status-3:after, #relacje .status-4:after, #relacje .status-5:after {
  display:none;}

.re {
  padding:var(--p1);
  background:var(--b1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);}

.obrK {
  display:flex;
  background:var(--b2);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  overflow:hidden;
  height:210px;
  width:25%;
  margin-right:var(--p1);
  float:left;}

.obrK img {
  opacity:0.5;
  object-fit:cover;
  width:100%;
  filter:grayscale(100%);
  display:block;}

.aktywny {
  background:var(--b1a)!important;}

.nieaktywny, .nieaktywny span, .nieaktywny a {
  color:var(--f3)!important;}

.porzucony {
  transition:0.5s;
  max-height:75px;}

.porzucony:hover {
  max-height:400px;}

.status-1, .status-2, .status-3, .status-4, .status-5 {
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:100%;
  height:45px;
  background:var(--b1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);}

.status-1:after {
  z-index:99;
  position:relative;
  content:'wrogi';}

.status-2:before {
  content:'';
  position:absolute;
  left:2px;
  top:2px;
  height:41px;
  background:var(--b1a);
  border-radius:var(--p1);
  width:33%;}

.status-2:after {
  z-index:99;
  position:relative;
  content:'niechętny';}

.status-3:before {
  content:'';
  position:absolute;
  left:2px;
  top:2px;
  height:41px;
  background:var(--b1a);
  border-radius:var(--p1);
  width:50%;}

.status-3:after {
  z-index:99;
  position:relative;
  content:'neutralny';}

.status-4:before {
  content:'';
  position:absolute;
  left:2px;
  top:2px;
  height:41px;
  background:var(--b1a);
  border-radius:var(--p1);
  width:66%;}

.status-4:after {
  z-index:99;
  position:relative;
  content:'pozytywny';}

.status-5:before {
  content:'';
  position:absolute;
  left:2px;
  top:2px;
  height:41px;
  background:var(--b1a);
  border-radius:var(--p1);
  width:calc(100% - 4px);}

.status-5:after {
  z-index:99;
  position:relative;
  content:'przyjazny';}

.hrd-body {
  position:relative;
  z-index:99;
  margin-top:var(--p1);
  height:calc(100vh - 395px);
  display:flex;}

.hrd-body br {
  display:none;}

.hrd-menu {
  height:100%;
  margin-right:var(--p1);
  width:170px;
  background:var(--b1);
  padding:var(--p1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);}

.hrd-menu > div {
  max-height:100%;
  display:flex;
  flex-direction:column;
  gap:var(--p1);}

.hrd-tab {
  flex:auto;
  text-transform: lowercase;
  text-align:center;
  font-weight:700;
  padding:var(--p1);
  cursor:pointer;
  background:var(--b1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  transition:.5s;}

.hrd-tab:hover {
  padding-left:25px;}

.hrd-tab.active {
  background:var(--b2a);}

.hrd-content {
  flex:1;
  padding:var(--p1);
  position:relative;
  overflow:hidden;
  background:var(--bottom), var(--b1);
  background-position:bottom!important;
  background-repeat:no-repeat!important;
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);}

.hrd-panel {
  overflow:auto;
  padding-right:var(--p1);
  left:var(--p1);
  top:var(--p1);
  bottom:var(--p1);
  right:var(--p1);
  position:absolute;
  opacity:0;
  pointer-events:none;
  transform:translateX(25px);
  transition:.5s;}

.hrd-panel.active {
  opacity:1;
  pointer-events:auto;
  transform:none;}

.hrd-grid {
  display:flex;
  flex-wrap:wrap;
  gap:var(--p1);}

.mi {
  padding:var(--p3)!important;
  min-width:45%!important;}

.ni {
  flex:auto!important;
  padding:var(--p3)!important;
  min-width:25%!important;}

.hrd-field {
  flex:1;
  min-width:100%;
  padding:var(--p1);
  background:var(--b1);
  border-radius:var(--p1);
  box-shadow:var(--sh2), var(--sh);}

.hrd-grid h2 {
  min-width:100%;}

.hrd-field span {
  opacity:0.5;
  display:block;
  font-size:0.85em;
  letter-spacing:2px;
  margin-bottom:-20px;
  text-transform:lowercase;}

.hrd-field br {
  display:block!important;}

.hrd-profile br {
  display:none;}

.hrd-profile {
  width:100%;
  background:var(--b2);
  padding:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  overflow:hidden;}

.hrd-banner img {
  opacity:0.3;
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;}

.hrd-banner {
  position:relative;
  filter:grayscale(100%);
  height:250px;
  overflow:hidden;
  margin:-14px;}

.hrd-banner:before {
  z-index:97;
  bottom:0px;
  left:0px;
  position:absolute;
  box-shadow:var(--sh6);
  content:'';
  width:100%;
  height:100%;}

.iden .hrd-banner {
  height:400px!important;}

@media (max-height: 900px) {
  .hrd-menu > div {
    overflow:auto;
    padding-right:15px!important;}}

.podsumowanie {
  position:relative;
  z-index:97;
  padding:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  background:var(--b1);}

.kpR > div {
  margin-bottom:var(--p1);}

.kpR > div:last-of-type {
  margin-bottom:0px;}

.kpR h1 {
  font-size:40px!important;}

.kpR > h1:last-of-type {
  margin-bottom:30px!important;
  margin-top:30px!important;}

.kpR > h1:first-of-type {
  margin-bottom:50px!important;
  margin-top:-70px!important;}

.kpR {
  position:relative;
  width:100%;
  padding:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  overflow:hidden;}

.kpR br {
  display:none;}

.aktywny a, .porzucony a, .nieaktywny a {
  letter-spacing:1.5px;
  font-weight:700;
  text-align:center;
  flex:auto;
  padding:vaR(--p3)!important;}

.aktywny a:before, .porzucony a:before, .nieaktywny a:before {
  display:none;}

.aktywny div, .porzucony div, .nieaktywny div {
  margin-bottom:-10px;
  display:flex;
  gap:var(--p1);}

.aktywny span:nth-child(1), .porzucony span:nth-child(1), .nieaktywny span:nth-child(1) {
  max-width:11%;}

.aktywny span, .porzucony span, .nieaktywny span {
  letter-spacing:1.5px;
  font-weight:700;
  font-size:13px;
  text-align:center;
  background:var(--b1);
  padding:var(--p3);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  flex:auto;}

.aktywny:before, .porzucony:before, .nieaktywny:before {
  float:left;
  margin-right:var(--p1);
  font-size:21px;
  background:var(--b1);
  padding:var(--p3);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  content: "\eae1";
  font-family:var(--ff2);}

.porzucony:before {
  content: "\ed1e";}

.nieaktywny:before {
  content: "\eae2";}

.kpR h1, .aktywny, .porzucony, .nieaktywny {
  position:relative;
  z-index:97;}

.kpR .hrd-banner:before {
  box-shadow:var(--sh7)!important;}

.kpR:before {
  background:var(--b2);
  content:"";
  position:absolute;
  top:245px;
  left:2px;
  width:calc(100% - 4px);
  height:calc(100% - 246px);}

.aktywny, .porzucony, .nieaktywny {
  overflow:hidden;
  padding:var(--p1);
  box-shadow:var(--sh2), var(--sh);
  border-radius:var(--p1);
  background:var(--b1);}

.aktywny br, .porzucony br, .nieaktywny br {
  display:block;}

/*COOKISY*/
.sd-cmp-dK6gK .sd-cmp-OOIlF {
  background:var(--b2)!important;
  color:var(--f1);}

.sd-cmp-vfoED .sd-cmp-VhJqD, .sd-cmp-vfoED .sd-cmp-kT8Te, .sd-cmp-vfoED .sd-cmp-VhJqD strong {
  color:var(--f1)!important;
  font-family:var(--ff1)!important;
  text-shadow:none!important;}

.sd-cmp-cWOb7, .sd-cmp-Sbln1 .sd-cmp-M5paA {
  border:0px!important;
  background:var(--b2)!important;
  color:var(--f1)!important;}

/*REGISTER*/
.reg #wrap {
  padding:var(--p1);
  border-radius:var(--p1);
  background:var(--b2);
  box-shadow: var(--sh2), var(--sh);}

.reg #cp-main .panel+h1 {
  font-size:0px;
  margin-top:-30px!important;
  margin-bottom:15px!important;}

.reg #cp-main .panel+h1:after {
  font-weight:400;
  display:block;
  content:"Do czasu założenia tematów należy pozostawić bazowe załączniki";
  font-size:11px;
  width:100%;}

.reg #cp-main .panel+h1:before {
  font-size:20px;
  content:'linki';}

.reg #cp-main .panel:first-of-type fieldset dl:first-of-type {
  display:none;}

.reg #cp-main .panel:first-of-type fieldset dl:last-of-type dt {
  display:none;}

.reg #cp-main .panel:first-of-type fieldset dl:last-of-type dd {
  padding:var(--p1);}

.reg fieldset dd {
  flex:2;
  padding:0px;
  border-radius:var(--p1);
  background:var(--b1);
  box-shadow: var(--sh2), var(--sh);
  margin:0px!important;}

.reg input[type="text"], .reg .inputbox {
  font-family:var(--ff1)!important;
  outline:none!important;
  background:none!important;
  border:0px;
  color:var(--f1)!important;
  padding:var(--p1);}

.reg fieldset dt img {
  display:none;}

.reg fieldset dt {
  padding:var(--p1);
  border-radius:var(--p1);
  background:var(--b1);
  box-shadow: var(--sh2), var(--sh);
  flex:1;
  text-align:center;}

.reg dt label {
  font-family:var(--ff1);
  text-transform: lowercase;
  color:var(--f1)!important;
  margin:0px;}

.reg fieldset dl {
  padding:0px;
  margin-bottom:15px;
  margin-right:-15px!important;
  display:flex;
  gap:Var(--p1);}

.reg #cp-main h1 {
  color:var(--f1);
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-weight:700;
  width:100%;
  letter-spacing:1.5px;}

.reg #cp-main .panel p {
  font-size:11px;
  color:var(--f1);
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-weight:500;
  width:100%;
  letter-spacing:1.5px;}

.reg #cp-main .panel {
  padding:0px;}

/*HARAETTER*/
.haraet {
  position:relative;
  width:90%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:5%;}

.avatar-h{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:70px;}

.haraet nazwa{
  font-family:var(--ff1);
  font-size:18px;
  margin-left:2%;
  color:var(--f1);}

.haraet naz, .h-k naz {
  font-family:var(--ff1);
  color:var(--f3);}

 .h-k naz {
   font-size:13px!important;}

.haraett{
  margin-top:35px;
  position:relative;}

.ikonyh{
  position:absolute;
  top:-40px;
  left:15px;
  display:flex;
  gap:15px;}

.haraet-1:before{
  font-family:var(--ff2);
  content: "\eabe";}

.haraet-2:before{
  font-family:var(--ff2);
  content: "\eaef";}

.haraet-3:before{
  font-family:var(--ff2);
  content: "\fbbf";}

.haraet-1:before, .haraet-2:before, .haraet-3:before{
  font-size:25px!important;}

.haraett{
  background:var(--b4);
         padding:15px;
         border:var(--o1);
         box-shadow:var(--sh);}

.haraet:before{
  content: "\ea95";
  font-family:var(--ff2);
  position:absolute;
  top:35px;
  right:30px;
  font-size:20px;}

.h-k {
  position:relative;
  width:70%;
  background:var(--b1);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin-left:15%;}

.avatar-k{
  border-radius:100px;
  border:var(--o1);
  box-shadow:var(--sh);
  width:50px;}

.h-k p{
  font-size:13px!important;
  text-align:justify;
  font-family:'prompt';
  background:var(--b4);
  padding:15px;
  border:var(--o1);
  box-shadow:var(--sh);
  margin:0px;}


/*SASA KOMENTARZE*/
.kom {
  padding:15px;
  position:relative;
  margin-left:15%;
  max-width:70%;}

.k-nick {
  opacity:0.4;
  position:absolute;
  top:65px;
  left:140px;
  padding:5px 15px;
  font-size:11.5px;
  font-weight:700;
  letter-spacing:4px!important;
  text-transform: lowercase;
  font-family:var(--ff1);}

.kom .tresc {
  background: var(--b1);
  border-radius:var(--p1);
  box-shadow: var(--sh2), var(--sh);
  padding:35px 15px 15px 15px;}

.kom-av img {
  width:110px;
  height:110px;
  border-radius:var(--p1);
  margin-top:30px;
  margin-left:15px;
  float:left;
  margin-right:15px;
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
  /*SASAYAKU*/
.sasayaki {
  padding:0px;
  border-radius:var(--p1);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
.sasayaki .t1 {
  box-shadow:none!important;
  margin:0px;}
  
.s-nick {
  margin-top:-40px!important;
  box-shadow:none!important;
  border:0px!important;
  background:none!important;}
  
.news {
  max-height:433px;
  overflow:auto;
  min-width:30%;
  flex:1;
  border-radius:var(--p1);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);
  padding:var(--p1);}
  
.news > div{
  min-width:100%;
  font-size:9.5px;
  opacity:0.5;
  text-align:right;}
  
.s-1 {
  width:100%;
  flex-wrap:wrap;
  gap:15px 10px;
  display:flex;}
  
.av-s {
  flex:1;
  margin-right:10px;
  min-width:204px!important;
  max-width:204px!important;
  text-align:center;
  font-size:10px;}
  
 .av-s img{
  border-radius:15px;
  box-shadow:var(--sh);
  border:var(--o1);
  padding:2px;}
  
.av-s div:nth-child(0n+4) {
  font-size:11px!important;
  letter-spacing:4px!important;
  text-transform: uppercase;
  font-family: var(--ff1);}
 
.av-s > div {
  margin-top:-5px;
  padding:var(--p2);
  background: var(--b1);
  border-radius:var(--p1);
  box-shadow: var(--sh2), var(--sh);}
  
.dane {
  border-radius:var(--p1);
  padding:var(--p3);
  background: var(--b1);
  box-shadow: var(--sh2), var(--sh);}
  
.jap-s {
  padding:15px;
  width:100%;
  font-size:35px;
  text-align:center;}
  
.t-s {
  margin-top:-40px;
  font-family:var(--ff1);
  text-transform: lowercase;
  text-align:center;
  font-size:20px;
  font-weight:700;
  letter-spacing:3px;
  min-width:100%;
  text-align:center;}
  
.zakladki {
  display:flex;}
  
.zakladki span {
  float:right;}
  
.zakladki .sas {
  position:absolute;
  box-shadow:none!important;
  border:0px!important;
  background:none!important;
  right:15px;
  letter-spacing:5px;
  color:#7e7e7e!important;} 
  
.sas {
  float:right;}
  
.zakladki div {
  border-radius:15px;
  background: var(--b3);
  border: var(--o1);
  box-shadow: var(--sh);
  padding:15px;
  color:var(--f1);
  flex:1;
  max-width:170px;
  margin-top:-1px;}
  
.zakladki div span {
  line-height:15px!important;}
  
.zakladki div:nth-child(0n+2){
  background:var(--b1);
  color:#7e7e7e;
  padding-bottom:20px;}  
  
.sasayaki-wpisz {
  width:100%;
  border-radius:var(--p1);
  background: var(--b2a);
  box-shadow: var(--sh2), var(--sh);
  padding:var(--p1);
  margin-top:-10px;
  position:relative;}
 
.sasayaki-wpisz i {
  margin-right:15px;
  font-size:15px;
  max-width:15px;}
